@import url('https://fonts.googleapis.com/css?family=Anton|Diplomata+SC|Merriweather+Sans:400,700,800|Rubik+Mono+One');

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #b2dfdb;
  
  color: #333;
}

.centerBox{
	font-family: 'Rubik Mono One', sans-serif;
	text-shadow: 2px 2px #3e2723;
}

h3{
	font-family: 'Rubik Mono One', sans-serif;
	text-shadow: 1px 1px #3e2723;
}

p {
	font-weight: 400;
}

#index-banner{
	
}

.centerBox{
	position: relative;
top: 30%;
}

.edu{
	font-family: 'Merriweather', sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

/*=====   ======*/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.section .graphics{
	height: 500px;
}

.section .design{
	height: 500px;
}

.thumbBox{

	
	box-shadow: 0px 3px 4px #888888;

}

ul li .thumbBox{
	
	list-style: inline;
    float: left;
	margin: 5px;
}

 .parallax-container {
      height: 500px;
    }

/* Bar Chart */

.svg-wrapper {
  max-width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  width: auto;
}

rect {
  shape-rendering: crispEdges;
}

.axis text {
  fill: #666;
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

#chart{
	min-height: 500px;
}

/*==== Pie Chart ====*/
